<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>

            .logo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: #333;
                color: #fff;
                font-size: 1.5em;
            }

            .selected {
                color: red;
            / / 加粗 font-weight: bold;
            }

            .notSelected {
                color: black;
            }
        </style>
	</head>
    <body>
    <div id="app">
        <div class="logo">
            <span onclick="backIndex()">合川特色购物商城</span></div>
        <label :class="index==nowTwoCategory?'selected':'notSelected'" v-for="(two,index,i) in allTwoCategory"
               @click="showThree(index,i)">{{two.name}}|</label>
        <br>
        <label :class="index==nowThreeCategory?'selected':'notSelected'" v-for="(three,index,i) in threeCategory"
               @click="showAttr(three,index)">{{three.name}}|</label>
        <br>
        <el-label>已选分类:{{allTwoCategory[nowTwoCategory].name}}->{{threeCategory[nowThreeCategory].name}}</el-label>
        <el-form :inline="true" class="demo-form-inline">
            <el-laber>商品属性</el-laber>
            <br>
            <el-form-item label="价格:">
                <el-input v-model="priceLow"></el-input>
            </el-form-item>
            <el-form-item>
                ----
            </el-form-item>
            <el-form-item>
                <el-input v-model="priceHigh"></el-input>
            </el-form-item>
            <el-form-item :label="attr.attrName" v-for="attr in attrs" :key="attr.attrId">
                <el-input v-model="attr.attrValue"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="searchProduct">查询</el-button>
            </el-form-item>
        </el-form>
        <div class="demo-image__placeholder" v-if="showProduct">
            <div class="block" v-for="product in productList"
                 style="width:360px;display: inline-block; padding-right: 10px"
                 @click="intoUserProduct(product.skuId)">
                <el-image :src="product.skuDefaultImg" style="height: 180px;width: 360px;"></el-image>
                <span class="demonstration">{{product.skuName}}</span>
                <br/>
                <span class="demonstration">￥{{product.price}}</span>
            </div>
            <el-backtop></el-backtop>
        </div>
    </div>


    </body>
    <script src="../js/axios.min.js"></script>
    <link rel="stylesheet" href="../js/elment/http_unpkg.com_element-ui_lib_theme-chalk_index.css">
    <script src="../js/vue2.js"></script>
    <script src="../js/elment/http_unpkg.com_element-ui_lib_index.js"></script>
    <script>
        function backIndex() {
            window.location.href = './index.html'
        }
    </script>
    <script>
        new Vue({
            el: '#app',
            data: {
                allTwoCategory: [],
                threeCategory: [],
                nowTwoCategory: 0,
                nowThreeCategory: 0,
                attrs: [],
                priceLow: null,
                priceHigh: null,
                productList: [],
                showProduct: false,
                offset: 0,
                limit: 5,

            },

            methods: {
                searchProduct() {
                    this.productList = []
                    this.offset = 0
                    this.getProduct()
                },


                showThree(index) {
                    console.log(index)
                    this.nowTwoCategory = index
                    this.nowThreeCategory = 0
                    this.threeCategory = this.allTwoCategory[index].children
                    this.offset = 0;
                    this.priceLow = null
                    this.priceHigh = null
                    this.attrs = [];
                    this.productList = []
                    this.getProduct();

                },
                showAttr(three, index) {
                    this.nowThreeCategory = index;
                    this.attrs = []
                    let _this = this
                    axios.get('http://127.0.0.1:8888/productService/pmsAttr/getCategoryAttr/' + three.catId).then(res => {
                        for (let i = 0; i < res.data.data.length; i++) {
                            let attr = {
                                attrName: res.data.data[i].attrName,
                                attrValue: "",
                                attrId: res.data.data[i].attrId
                            }
                            _this.attrs.push(attr)
                        }
                    })
                    this.productList = []
                    this.offset = 0;
                    this.priceLow = null
                    this.priceHigh = null
                    this.attrs = [];
                    this.getProduct();
                },
                intoUserProduct(id) {
                    window.location.href = "../memberService/userProduct.html?productId=" + id;

                },

                getProduct() {
                    let _this = this
                    let params = {
                        catId: this.threeCategory[this.nowThreeCategory].catId,
                        offset: this.offset,
                        limit: this.limit,
                        attrs: this.attrs,
                        priceLow: this.priceLow,
                        priceHigh: this.priceHigh
                    }
                    axios.post('http://127.0.0.1:8888/productService/product/getProductByCategory', params).then(res => {
                        for (let i = 0; i < res.data.data.length; i++) {
                            _this.productList.push(res.data.data[i]);
                        }
                        _this.showProduct = true
                        _this.offset += _this.limit
                    })
                },

                getClientHeight() {
                    var clientHeight = 0;
                    if (document.body.clientHeight && document.documentElement.clientHeight) {
                        clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight)
                    } else {
                        clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight)
                    }
                    return clientHeight
                },

                getScrollHeight() {
                    return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight)
                },
                getScrollTop() {
                    var scrollTop = 0;
                    //window.pageYOffset = document.documentElement.scrollTop
                    if (document.documentElement && document.documentElement.scrollTop) {
                        scrollTop = document.documentElement.scrollTop
                    } else if (document.body) {
                        scrollTop = document.body.scrollTop
                    }
                    return scrollTop
                },

                windowScroll() {
                    let _this = this;
                    //获取三个值
                    var scrollTop = this.getScrollTop()
                    var clientHeight = this.getClientHeight()
                    var scrollHeight = this.getScrollHeight()
                    //如果满足公式则，确实到底了
                    if (scrollTop + clientHeight - scrollHeight >= 0) {
                        console.log("滚动了")
                        _this.getProduct()
                    }

                },


            },
            created() {
                this.allTwoCategory = JSON.parse(localStorage.getItem('category'))
                this.threeCategory = this.allTwoCategory[0].children
                this.showAttr(this.threeCategory[0], 0)
                this.getProduct()
            },
            mounted() {
                window.addEventListener('scroll', this.windowScroll, true) //监听页面滚动
            },
            destroyed() {
                window.removeEventListener("scroll", this.windowScroll);//销毁滚动事件
            }

        })


	</script>

	


</html>
