<html>
<head>
    <style>
        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            font-size: 1.5em;
        }
    </style>
    <meta charset="utf-8">


</head>
<body>
<div id="app">
    <div class="logo">
        <span onclick="backIndex()">合川特色购物商城</span></div>
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>订单列表</span>
        </div>
        <template>
            <el-table
                    v-if="showOrder"
                    :data="orderList"
                    height="250"
                    border
                    @cell-click="selectRow"
                    style="width: 100%">
                <el-table-column
                        prop="orderSn"
                        label="订单号"
                        width="320">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="下单时间"
                        width="250">
                </el-table-column>
                <el-table-column
                        prop="totalAmount"
                        label="总金额"
                        width="140"
                >
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="状态">
                </el-table-column>
                <el-table-column
                        prop="receiverDetailAddress"
                        label="详细地址">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="100">
                    <template slot-scope="scope">
                        <el-button type="text" size="small" @click="showCancelOrder(scope.row)">取消订单</el-button>
                    </template>
                </el-table-column>

                <infinite-loading
                        slot="append"
                        @infinite="infiniteHandler"
                        force-use-infinite-wrapper=".el-table__body-wrapper">
                </infinite-loading>
            </el-table>
        </template>
        <el-dialog
                title="取消原因"
                :visible.sync="cancelDialogVisible"
                width="30%"
        >
            <span>取消原因</span>
            <el-input type="textarea" v-model="cancelVueString"></el-input>
            <span slot="footer" class="dialog-footer">
    <el-button @click="cancelDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="cancelOrder">确 定</el-button>
  </span>
        </el-dialog>

    </el-card>
    <el-card class="box-card" v-if="showOrderData">
        <template>
            <el-descriptions title="订单信息" column="5">
                <el-descriptions-item label="订单号">{{nowOrder.orderSn}}</el-descriptions-item>
                <el-descriptions-item label="下单时间">{{nowOrder.createTime}}</el-descriptions-item>
                <el-descriptions-item label="总金额">{{nowOrder.totalAmount}}</el-descriptions-item>
                <el-descriptions-item label="订单状态">{{nowOrder.status}}</el-descriptions-item>
                <el-descriptions-item label="收货人姓名">{{nowOrder.receiverName}}</el-descriptions-item>
                <el-descriptions-item label="收货人电话">{{nowOrder.receiverPhone}}</el-descriptions-item>
                <el-descriptions-item label="省份/直辖市">{{nowOrder.receiverProvince}}</el-descriptions-item>
                <el-descriptions-item label="城市">{{nowOrder.receiverCity}}</el-descriptions-item>
                <el-descriptions-item label="区">{{nowOrder.receiverRegion}}</el-descriptions-item>
                <el-descriptions-item label="详细地址">{{nowOrder.receiverDetailAddress}}</el-descriptions-item>
                <el-descriptions-item label="订单商品">
                    <el-table
                            :data="orderItem"
                            height="250"
                            border
                            style="width: 100%">
                        <el-table-column
                                prop="skuImage"
                                label="商品图片"
                                width="180">
                            <template slot-scope="scope">
                                <img :src="scope.row.skuImage" style="width: 50px;height: 50px">
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="skuName"
                                label="商品名称"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="skuPrice"
                                label="商品价格">
                        </el-table-column>
                        <el-table-column
                                prop="skuCount"
                                label="商品数量">
                        </el-table-column>
                        <el-table-column
                                prop="status"
                                label="状态">
                        </el-table-column>
                    </el-table>


                </el-descriptions-item>
            </el-descriptions>
        </template>
    </el-card>

</div>
</body>

<!-- 引入组件库 -->
<script src="../js/axios.min.js"></script>
<link rel="stylesheet" href="../js/elment/http_unpkg.com_element-ui_lib_theme-chalk_index.css">
<script src="../js/vue2.js"></script>
<script src="../js/elment/http_unpkg.com_element-ui_lib_index.js"></script>
<script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>
<script>
    function backIndex() {
        window.location.href = '../productService/index.html'
    }
</script>
<script>
    new Vue({
        el: '#app',
        data: {
            cancelDialogVisible: false,
            showOrder: false,
            orderList: [],
            offset: 0,
            limit: 10,
            nowOrder: {},
            isLoad: true,
            orderItem: [],
            showOrderData: false,
            cancelVueString: "",
            cancelOrderVO: {},
        },

        methods: {
            async infiniteHandler($state) {
                if (this.isLoad) {
                    await this.getOrder();
                    console.log(111)
                    $state.loaded();
                }


            },
            selectRow(item) {
                this.showOrderData = true
                this.nowOrder = item
                let _this = this;
                axios.get('http://127.0.0.1:8888/productService/pmsOrderItem/OrderId/' + item.orderSn
                ).then(function (response) {
                    _this.orderItem = response.data.data
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            async getOrder() {
                let userID = JSON.parse(localStorage.getItem("userID"));
                let _this = this;
                await axios.get('http://127.0.0.1:8888/productService/pmsOrder/user/' + userID + "/" + this.offset + "/" + this.limit
                ).then(function (response) {
                    if (response.data.data.length == 0) {
                        _this.isLoad = false
                    }
                    response.data.data.forEach(function (item) {
                        if (item.status.indexOf("取消") != -1 && item.cancelString != null) {
                            item.status = item.status + "(" + item.cancelString + ")"
                        } else {

                        }
                        _this.orderList.push(item)
                        _this.showOrder = true
                    })
                    _this.offset += _this.limit


                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            showCancelOrder(item) {
                if (item.status.indexOf("取消") != -1) {
                    this.$alert('订单无法被重复取消', '提示', {
                        confirmButtonText: '确定',
                    });
                    return
                }
                if (item.status.indexOf("完成") != -1) {
                    this.$alert('订单已完成', '提示', {
                        confirmButtonText: '确定',
                    });
                    return
                }
                this.cancelDialogVisible = true
                this.cancelVueString = ""
                this.cancelOrderVO = item
            },

            cancelOrder() {
                let _this = this;
                let cancelVO = {
                    orderSn: this.cancelOrderVO.orderSn,
                    status: '用户取消',
                    cancelString: this.cancelVueString
                }

                axios.post('http://127.0.0.1:8888/productService/pmsOrder/cancel', cancelVO
                ).then(function (response) {
                    _this.orderList = []
                    _this.offset = 0
                    _this.getOrder()
                    _this.cancelDialogVisible = false
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }


        },
        created() {
            this.getOrder()
        }


    })


</script>

</html>
