<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<label>完善商家信息</label>
<div id="app">
    <el-form :model="shop" label-width="100px" class="demo-ruleForm">
        <el-form-item label="店铺名">
            <el-input v-model="shop.shopName"></el-input>
        </el-form-item>
        <el-form-item label="身份证正面">
            <el-upload v-if="!idCardFront"
                       class="upload-demo"
                       drag
                       :show-file-list="false"
                       name="files"
                       :on-success="idCardFrontSuccess"
                       action="http://127.0.0.1:8888/productService/product/saveFile"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>
            <div>
                <el-image v-if="idCardFront" :src="shop.idCardFront" style="height: 180px;width: 360px;"></el-image>
            </div>
            <el-button style="margin-left: 160px" v-if="idCardFront" @click="idCardFront=false" type="danger"
                       icon="el-icon-delete" circle></el-button>
        </el-form-item>
        <el-form-item label="身份证反面">
            <el-upload v-if="!idCardBack"
                       class="upload-demo"
                       drag
                       :show-file-list="false"
                       name="files"
                       :on-success="idCardBackSuccess"
                       action="http://127.0.0.1:8888/productService/product/saveFile"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>
            <div>
                <el-image v-if="idCardBack" :src="shop.idCardBack" style="height: 180px;width: 360px;"></el-image>
            </div>
            <el-button style="margin-left: 160px" v-if="idCardBack" @click="idCardBack=false" type="danger"
                       icon="el-icon-delete" circle></el-button>
        </el-form-item>
        <el-form-item label="经营执照正面">
            <el-upload v-if="!permitFront"
                       class="upload-demo"
                       drag
                       :show-file-list="false"
                       name="files"
                       :on-success="permitFrontSuccess"
                       action="http://127.0.0.1:8888/productService/product/saveFile"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>
            <div>
                <el-image v-if="permitFront" :src="shop.permitFront" style="height: 180px;width: 360px;"></el-image>
            </div>
            <el-button style="margin-left: 160px" v-if="permitFront" @click="permitFront=false" type="danger"
                       icon="el-icon-delete" circle></el-button>
        </el-form-item>
        <el-form-item label="经营执照反面">
            <el-upload v-if="!permitBack"
                       class="upload-demo"
                       drag
                       :show-file-list="false"
                       name="files"
                       :on-success="permitBackSuccess"
                       action="http://127.0.0.1:8888/productService/product/saveFile"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </el-upload>
            <div>
                <el-image v-if="permitBack" :src="shop.permitBack" style="height: 180px;width: 360px;"></el-image>
            </div>
            <el-button style="margin-left: 160px" v-if="permitBack" @click="permitBack=false" type="danger"
                       icon="el-icon-delete" circle></el-button>
        </el-form-item>
        <el-button type="primary" @click="submitForm" :plain="true">提交审核</el-button>
    </el-form>

    <el-dialog
            title="提示"
            :visible.sync="checkingDialogVisible"
            width="30%">
        <span>{{checkStatus}}</span>
        <span>{{checkMsg}}</span>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="gotoIndex">确 定</el-button>
  </span>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="checkFailDialogVisible"
            width="30%">
        <span>{{checkStatus}}</span>
        <span>{{checkMsg}}</span>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="newCheck">重新申请</el-button>
    <el-button type="primary" @click="gotoIndex">确 定</el-button>
  </span>
    </el-dialog>


</div>
</body>

<!-- 引入组件库 -->
<script src="../js/axios.min.js"></script>
<link rel="stylesheet" href="../js/elment/http_unpkg.com_element-ui_lib_theme-chalk_index.css">
<script src="../js/vue2.js"></script>
<script src="../js/elment/http_unpkg.com_element-ui_lib_index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            shop: {},
            idCardFront: false,
            idCardBack: false,
            permitFront: false,
            permitBack: false,
            checkingDialogVisible: false,
            checkStatus: '',
            checkMsg: '',
            checkFailDialogVisible: false,
        },

        methods: {
            idCardFrontSuccess(res, file) {
                this.shop.idCardFront = res.data[0];
                this.idCardFront = true;
            },
            idCardBackSuccess(res, file) {
                this.shop.idCardBack = res.data[0];
                this.idCardBack = true;
            },
            permitFrontSuccess(res, file) {
                this.shop.permitFront = res.data[0];
                this.permitFront = true;
            },
            permitBackSuccess(res, file) {
                this.shop.permitBack = res.data[0];
                this.permitBack = true;
            },
            async submitForm() {
                this.shop.userId = localStorage.getItem("userID");
                this.shop.status = 0;
                let _this = this;
                await axios.post('http://127.0.0.1:8888/umsMember/umsShopNotCheck/add', this.shop)
                    .then(function (response) {
                        _this.$message({
                            message: '申请成功',
                            type: 'success'
                        });
                        window.location.href = "../productService/index.html";
                    }).catch(function (error) {
                        console.log(error);
                    });
            },
            loadShop() {
                let _this = this;
                let userID = localStorage.getItem("userID");
                axios.get('http://127.0.0.1:8888/umsMember/umsShopNotCheck/user/' + userID)
                    .then(function (response) {
                        console.log('解析请求')
                        var data = response.data;
                        if (data.code == 8888) {
                            _this.checkVisible = true;
                            if (data.data.status == 0) {
                                _this.checkStatus = "审核中";
                            } else {
                                _this.checkStatus = "审核失败";
                                _this.checkMsg = data.data.cause
                            }

                        }
                    })
            },
            gotoIndex() {
                window.location.href = "../productService/index.html";
            },
            newCheck() {
                this.shop = {};
                this.checkFailDialogVisible = false;
                this.checkingDialogVisible = false;
                let _this = this;
                let userID = localStorage.getItem("userID");
                axios.get('http://127.0.0.1:8888/umsMember/umsShopNotCheck/delete/' + userID).then(function (response) {
                })
            }
        },
        created() {
            let _this = this;
        }

    })


</script>

</html>
