<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<style>
    .demo-table-expand {
        font-size: 0;
    }

    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }

    .el-tag + .el-tag {
        margin-left: 10px;
    }

    .button-new-tag {
        margin-left: 10px;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .input-new-tag {
        width: 90px;
        margin-left: 10px;
        vertical-align: bottom;
    }
</style>
<body>
<div id="app">

    <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1" @click="changeShowType('店铺信息管理')">店铺信息管理</el-menu-item>
        <el-menu-item index="2" @click="changeShowType('商品管理')">商品管理</el-menu-item>
        <el-menu-item index="3" disabled>消息中心</el-menu-item>
        <el-menu-item index="4" @click="changeShowType('订单管理')">订单管理</a></el-menu-item>
    </el-menu>
    <el-main v-if="showType=='店铺信息管理'">
        <template>
            <el-descriptions title="店铺信息">
                <el-descriptions-item label="店铺名">{{shopInfo.shopName}}</el-descriptions-item>
                <el-descriptions-item label="商品数">{{productList.lenght}}</el-descriptions-item>
                <el-descriptions-item label="开店时间">{{shopInfo.createTime}}</el-descriptions-item>
                <el-descriptions-item label="证件">
                    <el-image style="width: 100px; height: 100px" :src="shopInfo.idCardFront"></el-image>
                    <el-image style="width: 100px; height: 100px" :src="shopInfo.idCardBack"></el-image>
                    <el-image style="width: 100px; height: 100px" :src="shopInfo.permitFront"></el-image>
                    <el-image style="width: 100px; height: 100px" :src="shopInfo.permitBack"></el-image>

                </el-descriptions-item>

            </el-descriptions>


        </template>
    </el-main>
    <el-main v-if="showType=='商品管理'">
        <template>
            <template>
                <div class="box_right" style="display: inline-block;">
                    <div class="demo-image__placeholder">
                        <div class="block" v-for="product in productList"
                             style="width:360px;display: inline-block;padding-left: 10px">
                            <a @click="adminProduct(product)">
                                <el-image :src="product.skuDefaultImg" style="height: 180px;width: 360px;"></el-image>
                                <span class="demonstration">{{product.skuName}}</span>
                            </a>
                            <div>
                                <el-tag>当前库存:{{product.stock}}</el-tag>
                                <el-button type="danger" round>删除商品</el-button>
                            </div>
                        </div>

                        <button class="el-icon-plus" style="height: 180px;width: 360px; vertical-align: top;"
                                @click="productAddDialog = true"></button>
                    </div>

                </div>

            </template>
            <template>
                <el-dialog
                        :before-close="closeAddSkuDialog"
                        :visible.sync="productAddDialog"
                        width="70%">
                    <el-steps :active="active" finish-status="success">
                        <el-step title="选择商品分类"></el-step>
                        <el-step title="完善商品属性"></el-step>
                    </el-steps>
                    <el-form ref="form" :model="productMode" label-width="80px" v-if="active=='0'">
                        <el-form-item label="商品分类">
                            <div class="block">
                                <span class="demonstration">单选可搜索</span>
                                <el-cascader
                                        placeholder="试试搜索：指南"
                                        :options="options"
                                        v-model="caseValue"
                                        filterable></el-cascader>
                            </div>
                        </el-form-item>
                    </el-form>

                    <div v-if="active=='1'">
                        <el-form ref="form" :model="sku" label-width="80px">
                            <el-form-item label="商品名称">
                                <el-input v-model="sku.skuName"></el-input>
                            </el-form-item>
                            <el-form-item label="商品描述">
                                <el-input v-model="sku.skuDesc"></el-input>
                            </el-form-item>
                            <el-form-item
                                    label="价格"
                                    prop="price"
                                    :rules="[
      { required: true, message: '价格不能为空'},
      { type: 'number', message: '价格必须为数字值'}
    ]"
                            >
                                <el-input v-model.number="sku.price" autocomplete="off"></el-input>
                            </el-form-item>
                            <div v-for="attr in categoryAttr" :key="attr.id">
                                <el-form-item :label="attr.attrName">
                                    <el-input v-model="attr.attrValue"></el-input>
                                </el-form-item>
                            </div>
                            <el-form-item label="商品封面" >
                            <el-upload v-if="!showImage"
                                    class="upload-demo"
                                    drag
                                    :show-file-list="false"
                                    name="files"
                                    :on-success="uploadSuccess"
                                    action="http://127.0.0.1:8888/productService/product/saveFile"
                                    multiple>
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
<!--                                <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>-->
                            </el-upload>
                                <div >
                                    <el-image v-if="showImage" :src="sku.skuDefaultImg" style="height: 180px;width: 360px;" ></el-image>
                                </div>
                                <el-button style="margin-left: 160px" v-if="showImage" @click="showImage=false" type="danger" icon="el-icon-delete" circle></el-button>
                            </el-form-item>

                        </el-form>
                    </div>

                    <el-button style="margin-top: 12px;" @click="skuAddButton">{{productAddNext}}</el-button>
                </el-dialog>

            </template>

        </template>
    </el-main>
    <el-main v-if="showType=='订单管理'">
        <template>
            <template>
                <el-table
                        :data="orderProductList"
                        style="width: 100%">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <el-form-item label="订单号">
                                    <span>{{ props.row.orderSn }}</span>
                                </el-form-item>
                                <el-form-item label="下单时间">
                                    <span>{{ props.row.createTime }}</span>
                                </el-form-item>
                                <el-form-item label="收货人姓名">
                                    <span>{{ props.row.receiverName }}</span>
                                </el-form-item>
                                <el-form-item label="收入人电话">
                                    <span>{{ props.row.receiverPhone }}</span>
                                </el-form-item>
                                <el-form-item label="省/直辖市">
                                    <span>{{ props.row.receiverProvince }}</span>
                                </el-form-item>
                                <el-form-item label="城市">
                                    <span>{{ props.row.receiverCity }}</span>
                                </el-form-item>
                                <el-form-item label="区">
                                    <span>{{ props.row.receiverRegion }}</span>
                                </el-form-item>
                                <el-form-item label="详细地址">
                                    <span>{{ props.row.receiverDetailAddress }}</span>
                                </el-form-item>
                                <el-form-item label="单价">
                                    <span>{{ props.row.skuPrice }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="商品名"
                            prop="skuName">
                    </el-table-column>
                    <el-table-column
                            label="数量"
                            prop="skuCount">
                    </el-table-column>
                    <el-table-column
                            label="总计"
                            prop="skuCount">
                        <template slot-scope="props">
                            <span>{{ props.row.skuPrice*props.row.skuCount }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="状态"
                            prop="status">
                    </el-table-column>
                </el-table>
                <template>
                    <el-pagination
                            layout="prev, pager, next"
                            :total="orderTotal">
                    </el-pagination>
                </template>
            </template>
        </template>
    </el-main>


</div>

</body>

<!-- 引入组件库 -->
<script src="../js/axios.min.js"></script>
<link rel="stylesheet" href="../js/elment/http_unpkg.com_element-ui_lib_theme-chalk_index.css">
<script src="../js/vue2.js"></script>
<script src="../js/elment/http_unpkg.com_element-ui_lib_index.js"></script>
<script>
    axios.get('http://127.0.0.1:8888/productService/pmsCategory/case')
        .then(function (response) {
            console.log('解析请求')
            var data = response.data;
            if (data.code == 8888) {
                console.log('请求成功')
                console.log(data.data)
                localStorage.setItem("categoryCase", JSON.stringify(data.data));
            } else {
            }
        }).catch(function (error) {
    });





</script>
<script>
    new Vue({
        el: '#app',
        data: {
            shopInfo: {},
            showType: "商品管理",
            productAddDialog: false,
            active: 0,
            isShowProduct: false,
            showImage: false,
            caseValue: [],
            productAddNext: "下一步",
            productMode: {},
            options: JSON.parse(localStorage.getItem("categoryCase")),
            dynamicTags: ['标签一', '标签二', '标签三'],
            inputVisible: false,
            inputValue: '',
            sku: {},
            categoryAttr: [],
            productList: [],
            orderProductList: [],
            orderOffset: 0,
            orderLimit: 10,
        },
        methods: {
            async getProduct() {
                const userID = localStorage.getItem("userID");
                let _this = this;
                await axios.get('http://127.0.0.1:8888/productService/pmsSkuInfo/getProductByUserId/' + userID)
                    .then(function (response) {
                        console.log('解析请求')
                        var data = response.data;
                        if (data.code == 8888) {
                            console.log('请求成功')
                            console.log(data.data)
                            _this.productList = data.data
                            _this.isShowProduct = true
                        } else {
                        }
                    }).catch(function (error) {
                    });
            },

            getShopInfo() {
                const userID = localStorage.getItem("userID");
                let _this = this;
                axios.get('http://127.0.0.1:8888/umsMember/umsShop/shopIndo/' + userID)
                    .then(function (response) {
                        var data = response.data;
                        if (data.code == 8888) {
                            _this.shopInfo = data.data
                        } else {
                        }
                    }).catch(function (error) {
                });
            },

            changeShowType(type) {
                this.showType = type;
                switch (type) {
                    case "订单管理":
                        this.orderProductList = [];
                        this.queryOrderProduct();
                        break;
                    case "店铺信息管理":
                        this.getShopInfo();
                        break;
                }
            },
            skuAddButton() {
                if (this.active++ > 2) this.active = 0;
                if (this.active == 1) {
                    console.log(111111)
                    this.getCaseAttr(this.caseValue[2])
                    this.sku.catalogId=this.caseValue[2]
                    this.productAddNext = "添加商品"
                    return;
                }
                if (this.active == 2) {
                    console.log(222222)
                    this.sku.attr = this.categoryAttr
                    this.sku.stock = 0
                    this.sku.userId = localStorage.getItem("userID")
                    axios.post('http://127.0.0.1:8888/productService/pmsSkuInfo/add', this.sku).then((res) => {
                        console.log(res)
                        this.productList.push(this.sku)
                    })
                    this.active = 0;
                    this.productAddDialog = false;
                }
            },
            getCaseList(item) {
                item.forEach((item) => {
                    this.options.push(item.value)
                    if (item.children) {
                        this.getCaseList(item.children)
                    }
                })
            },
            getCaseAttr(item) {
                axios.get('http://127.0.0.1:8888/productService/pmsAttr/getCategoryAttr/' + item).then((res) => {
                    this.categoryAttr = res.data.data

                    console.log(this.categoryAttr)
                })
            },

            handleClose(tag, attr) {
                attr.attrValueList.splice(attr.attrValueList.indexOf(tag), 1);
                //删除元素
            },

            showInput(attr) {
                this.inputVisible = true;
                const atteName = attr.atteName
                this.$nextTick(_ => {
                    this.$refs.atteName.$refs.input.focus();
                });
            },

            handleInputConfirm(attr) {
                let inputValue = this.inputValue;
                if (inputValue) {
                    attr.attrValueList.push(inputValue);
                }
                this.inputVisible = false;
                this.inputValue = '';
            },
            showInfo() {
                console.log(this.categoryAttr)
            },

            async adminProduct(product) {
                await axios.get('http://127.0.0.1:8888/productService/pmsSkuSaleAttrValue/skuId/' + product.skuId)
                    .then(function (response) {
                        console.log('解析请求')
                        product.attr = response.data.data;
                        console.log(product)
                        localStorage.setItem("adminProduct", JSON.stringify(product));
                    }).catch(function (error) {
                    });
                window.location.href = "adminProduct.html"
            },

            uploadSuccess(response, file, fileList) {
                console.log('上传成功')
                console.log(response.data)
                this.sku.skuDefaultImg = response.data[0];
                console.log(this.sku.skuDefaultImg)
                this.showImage = true;
            },

            closeAddSkuDialog() {
                this.productAddDialog = false;
                this.active = 0;
                this.productAddNext = "下一步";
                this.sku = {};
            },

            queryOrderProduct() {
                axios.get('http://127.0.0.1:8888/productService/pmsOrderItem/orderItem/' + localStorage.getItem("userID") + "/" + this.orderOffset + "/" + this.orderLimit).then((res) => {
                    console.log(res)
                    res.data.data.forEach((item) => {
                        this.orderProductList.push(item)
                    })
                })
            },
            isCheckOk() {
                let userID = localStorage.getItem("userID")
                axios.get('http://127.0.0.1:8888/umsMember/umsShopNotCheck/user/' + userID)
                    .then(function (response) {
                        console.log('解析请求')
                        var data = response.data;
                        if (data.code == 8888) {
                            if (data.data.status == 1) {
                            } else {
                                window.location.href = "addSeller.html"
                            }

                        }
                    }).catch(function (error) {
                });

            }


        },
        created() {
            this.isCheckOk()
            this.productList = this.getProduct();
        }
    })


</script>
</html>
